python-dotenv
llama-index
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-vector-stores-faiss
feedparser
Crawl4AI
streamlit
streamlit_chat
yfinance
altair==4.0
selenium
faiss-cpu
scikit-learn